In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [7]:
print(os.listdir())

['.ipynb_checkpoints', 'Untitled.ipynb']

In [24]:
dataset = pd.read_excel("RADHE.xlsx")

In [22]:
dataset

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Fuel_Tank_Capacity,Fuel_Type,City_Mileage,Highway_Mileage,...,Power,Torque,Odometer,Speedometer,Seating_Capacity,Average_Fuel_Consumption,Basic_Warranty,Boot_Space,Extended_Warranty,Price_range
0,0.000000,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
1,1.000000,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
2,2.000000,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,15 litres,CNG,NaN,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
3,3.000000,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,94 litres,2 years /150000 Kms (years/distance whichever ...,NaN
4,4.000000,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,32.032920,34.75434,1,[144],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,32.119140,34.83897,2,"[79, 268]",2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,32.123610,34.80693,1,[145],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,32.075000,34.80216,1,[27],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,32.116782,34.843358,1,[118],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
dataset.set_index(dataset["Make"],inplace=True)

In [34]:
dataset

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Fuel_Tank_Capacity,Fuel_Type,City_Mileage,Highway_Mileage,...,Power,Torque,Odometer,Speedometer,Seating_Capacity,Average_Fuel_Consumption,Basic_Warranty,Boot_Space,Extended_Warranty,Price_range
Make,,,,,,,,,,,,,,,,,,,,,
Tata,0.000000,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,1.000000,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,2.000000,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,15 litres,CNG,NaN,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,3.000000,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,94 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,4.000000,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34.75434,32.032920,34.75434,1,[144],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.83897,32.119140,34.83897,2,"[79, 268]",2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.80693,32.123610,34.80693,1,[145],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.80216,32.075000,34.80216,1,[27],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.843358,32.116782,34.843358,1,[118],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
dataset.drop("Unnamed: 0",inplace=True,axis=1)

In [36]:
dataset

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Fuel_Tank_Capacity,Fuel_Type,City_Mileage,Highway_Mileage,ARAI_Certified_Mileage,...,Power,Torque,Odometer,Speedometer,Seating_Capacity,Average_Fuel_Consumption,Basic_Warranty,Boot_Space,Extended_Warranty,Price_range
Make,,,,,,,,,,,,,,,,,,,,,
Tata,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,23.6 km/litre,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,23.6 km/litre,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,15 litres,CNG,NaN,NaN,NaN,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,21.9 km/litre,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,94 litres,2 years /150000 Kms (years/distance whichever ...,NaN
Tata,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,24 litres,Petrol,?23.6 km/litre,NaN,23.6 km/litre,...,38PS@5500rpm,51Nm@4000rpm,Digital,Analog,4.0,Yes,2 years /75000 Kms (years/distance whichever c...,110 litres,2 years /150000 Kms (years/distance whichever ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34.75434,34.75434,1,[144],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.83897,34.83897,2,"[79, 268]",2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.80693,34.80693,1,[145],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.80216,34.80216,1,[27],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34.843358,34.843358,1,[118],2020-02-04 03:09:03 UTC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
dataset.notna().sum()

Make                              234113
Model                             234188
Variant                           234188
Ex-Showroom_Price                 234188
Displacement                        1264
Fuel_Tank_Capacity                  1207
Fuel_Type                           1276
City_Mileage                         721
Highway_Mileage                      476
ARAI_Certified_Mileage              1162
ARAI_Certified_Mileage_for_CNG        27
Power                               1276
Torque                              1274
Odometer                            1233
Speedometer                         1231
Seating_Capacity                    1270
Average_Fuel_Consumption             931
Basic_Warranty                       836
Boot_Space                          1027
Extended_Warranty                    615
Price_range                            0
dtype: int64

In [42]:
dataset.dropna(subset=["Model"],inplace=True)

In [43]:
dataset.notna().sum()

Make                              234113
Model                             234188
Variant                           234188
Ex-Showroom_Price                 234188
Displacement                        1264
Fuel_Tank_Capacity                  1207
Fuel_Type                           1276
City_Mileage                         721
Highway_Mileage                      476
ARAI_Certified_Mileage              1162
ARAI_Certified_Mileage_for_CNG        27
Power                               1276
Torque                              1274
Odometer                            1233
Speedometer                         1231
Seating_Capacity                    1270
Average_Fuel_Consumption             931
Basic_Warranty                       836
Boot_Space                          1027
Extended_Warranty                    615
Price_range                            0
dtype: int64